{% extends 'base.html' %}
{% block body %}
<p>아이디 : {{ user_detail.pk }}</p>
<p>이름 : {{ user_detail.username }}</p>
<p>이메일 : {{ user_detail.email }}</p>

<p>팔로잉 : {{ user_detail.followings.all.count }}</p>
<p>팔로워 : {{ user_detail.followers.all.count }}</p>
{% if user != user_detail %}
    {% if user in user_detail.followers.all %}
        <a href="{% url 'accounts:follow' user_detail.pk %}">팔로잉</a>
    {% else %}
        <a href="{% url 'accounts:follow' user_detail.pk %}">팔로우</a>
    {% endif %}
{% endif %}
<hr>
{% if user.username == user_detail.username %}
    <h2>내가 작성한 리뷰 목록</h2>
{% else %}
<h2>{{ user_detail.username }}이 작성한 리뷰 목록</h2>
{% endif %}
<br>
{% for score in user_detail.score_set.all %}
    <p>영화: {{ score.movie.title }}</p>
    <a>댓글: {{ score.content }}</a>&nbsp;
    <a>평점: {{ score.value }}</a>
    <hr>
{% endfor %}

{% if user.username == user_detail.username %}
<h2>내 친구가 좋아하는 영화</h2>
{% for user_follow in user_detail.followings.all %}
    <p>{{ user_follow.score_set.first.movie.title }}</p>
    <p>{{ user_follow.score_set.first.value }}</p>
{% endfor %}
{% endif %}
{% endblock %}